:root {
  --bk: #222;
  --wh: ivory;
  --a1: #008000;
  --a2: #00b000;
  --gw: #bbb;
  --gb: #333;

  --tx: var(--bk);
  --bg: var(--wh);

  --header-height: 2rem;
}

@media (prefers-color-scheme: light) {
  :root:not(:has(#dark)) {
    --tx: var(--bk);
    --bg: var(--wh);
    --gr: var(--gw);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(:has(#light)) {
    --tx: var(--wh);
    --bg: var(--bk);
    --gr: var(--gb);
  }
}


:not(:where(.maplibregl-map *, .maplibregl-map)) {
  margin: 0;
  padding: 0;
  border: 0;
  /* background-color: var(--bg); */
  color: var(--tx);
  overflow: visible;
  /* width: 100%;
  height: 100%; */

  font-family: sans-serif;
}

.maplibregl-map {
  background-color: var(--bg);
}



/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
} */