.nav {
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  pointer-events: none;
  background-color: transparent;


  overscroll-behavior: none;


  scrollbar-width: none;
  &::-webkit-scrollbar {display: none;}
  
}

.spacer {
  height: calc(100% - 2rem);
  background-color: transparent;
  /* scroll-snap-align: start; */
}

.details {
  /* scroll-snap-align: start; */
  pointer-events: auto;
  height: 80%;
}